# App
NODE_ENV=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001

# Backend
PORT=3001

# Database
DATABASE_URL=postgresql://qr_spotify_user:qr_spotify_password@localhost:5432/qr_spotify_game?schema=public

# JWT
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret

# Spotify
SPOTIFY_CLIENT_ID=change_me
SPOTIFY_CLIENT_SECRET=change_me
SPOTIFY_REDIRECT_URI=http://localhost:3001/spotify/callback

# CORS
FRONTEND_URL=http://localhost:3000